{% extends 'base.html' %}
{% block content %}

    <div class="container-fluid-without-padding bg-1 text-center">
      <h4>Mekan Arama Fromu</h4>
    </div>

    <div class="grid-container bg-8 text-center">
        <form method="GET" class="post-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" style="color:black" class="save btn btn-warning" name="search-button">Arama</button>
        </form>

        <div>
                <p align="center" class="bg-3">
                    <div class="post">
                        <h5 style="color:red" >
                        <a href="?venue={{search.venue}}&location={{search.location}}&limit={{search.limit}}" style="text-decoration:none" >{{search.venue}} {{search.location}} {{ search.limit}} </a></h5>
                    </div>
                </p>
        </div>
    </div>
<div>
    {% if query_venue %}
        {% include 'dfas/queryList.html' %}
    {% elif no_results %}
    <h4 align="left" style="color:green;"><b>Aranılan sonuç bulunamadı!!!</b></h4>
    {% endif %}
</div>

{% endblock %}