{% load static %}

<head>
    <!-- klasik meta tagi -->
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <!-- adres çubuğunda görünen kısım -->
    <title>{% block baslik %}Uygulamam{% endblock %}</title>
    <!-- css klasöründe ki min.css dahil etme-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <!-- style.css içeriği ekran boyutuna ayarlama pixeli-->
    <link rel="stylesheet" href="{% static 'css/style.css'%}">

</head>
<body>
    <!-- navbar:anasayfa ,iletisim arama vs bulundugu yer'in yazıldığı html kodunu dahil et -->
    {% include 'navbar-head.html' %}
<body>

<!-- Navbar -->
    <section class="featured-posts no-padding-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'dfas:query_venue_view'%}"></a>
            </div>
        <div class="collapse navbar-collapse" id="myNavbar">

        </div>
        </div>

    </section>


    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>

    {% block govde %}

    {% endblock %}
    <!-- static dosyalara eklediğim min.js leri aşağıdaki gibi çağırmak gerek -->
    <script src="{% static 'js/jquery.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>

</body>

